
.descriptionBox {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px 50px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}
p span:hover {
  text-decoration: underline;
}
