.jobDescription {
  width: 75%;
  margin: auto auto;
  min-height: 550px;
  color: #6c696a;
}
.intro {
  text-align: center;
  margin-bottom: 20px;
  color: #565354;
}
.intro p {
  font-size: 18px;
}
.tip {
  margin-bottom: 30px;
}

/* On JobForm & DescriptionReviewCard */
.descriptionBox {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 28px;
  min-height: 300px;
}